/* img{
    width: 100%;
   /* background-size: cover; */
/* height: 100%; */

/* }  */

body{
    background-image:url(./bgm.jpg);
    background-size: cover;
}
.new{
    height: 165px;
}

#forms{
    background-color: rgba(243, 243, 243, 0.7);
}

.title{
    font-family: 'Josefin Sans', sans-serif;

}